<div class="col-sm-8 commodityBody">>
    <div class="commodityTitle container d-flex flex-column align-items-center mt-2 mb-4 p-3">
        <h1 class="display-4 mr-3">商品清單</h1>
        <div class="btn-group m-2" role="group" aria-label="Basic example">
        <a type="button" class="btn btn-primary" href="/admin/commodity/create">新增商品</a>
        <a type="button" class="btn btn-danger" href="/admin/commodities/removed">下架商品清單</a>
        </div>    
    </div>    
    <ul class="list-unstyled">
    {{#each commodity}}    
    <li class="media commodityLi m-3">
        <img src="{{this.image}}" class="mr-3" width="200" height="200">
        <div class="media-body m-3">
        <h5 class="mt-0 mb-3">{{this.name}}
            <span class="badge badge-pill badge-dark mr-4"><small>{{this.Category.name}}</small></span>
        </h5>
        <p>價格：{{this.price}}</p>
        <p>
          <span class="mr-2">銷售量：{{this.saleAmount}}</span>
          <span>庫存量：{{this.remainingNumber}}</span>
        </p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a type="button" class="btn btn-primary" href="/admin/commodity/{{this.id}}">詳細資訊</a>
            <a type="button" class="btn btn-success" href="/admin/commodity/{{this.id}}/edit">修改商品資料</a>
            <form action="/admin/commodity/removed/{{this.id}}?_method=PUT" method="post">
                <button type="submit" class="btn btn-danger">下架商品</button>
            </form>
        </div>
        </div>
    </li>
    {{/each}}
    </ul>     
</div>
