<div class="col-sm-8 showCommodity">
<div class="card mt-5" style="max-width: 840px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{commodity.image}}" width="250" height="250">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{commodity.name}}</h5>
        <p class="card-text">商品類別：{{commodity.Category.name}}</p>
        <p class="card-text">商品價格：{{commodity.price}}</p>
        <p>
          <span class="mr-2">銷售量：{{commodity.saleAmount}}</span>
          <span class="mr-2">庫存量：{{commodity.remainingNumber}}</span>
          <span class="mr-2">瀏覽人數：{{commodity.viewCount}}</span>
        </p>
        <p class="card-text">商品介紹：{{commodity.introduction}}</p>
      </div>
      <div class="btn-group mb-4" role="group" aria-label="Basic example">
          <a type="button" class="btn btn-primary" onclick="history.go(-1)">返回上一頁</a>
          <a type="button" class="btn btn-success" href="/admin/commodity/{{commodity.id}}/edit">修改商品資料</a>
          {{#if commodity.removed}}
            <button type="button" class="btn btn-warning undoRemoved" data-id="{{commodity.id}}">上架商品</button>
          {{else}}
            <button type="button" class="btn btn-danger removed" data-id="{{commodity.id}}">下架商品</button>
          {{/if}}
      </div>
    </div>
  </div>
</div>    
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  document.addEventListener('click', event => {
    const target = event.target
    const commodityID = target.dataset.id
    if (target.matches('.undoRemoved')) {
      axios.post(`/admin/commodity/undoRemoved/${commodityID}?_method=PUT`)
      .then(()=> {
        target.innerHTML = '下架商品'
        target.classList.remove('btn-warning', 'undoRemoved')
        target.classList.add('btn-danger', 'removed')
      })
    } else if (target.matches('.removed')) {
      axios.post(`/admin/commodity/removed/${commodityID}?_method=PUT`)
      .then(()=> {
        target.innerHTML = '上架商品'
        target.classList.remove('btn-danger', 'removed')
        target.classList.add('btn-warning', 'undoRemoved')
      })
    }
  })
</script>