<div class="col-sm-8 showCommodity">
<div class="card mt-5" style="max-width: 840px;">
  {{>message}}
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{commodity.image}}" width="250" height="250">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{commodity.name}}</h5>
        <p class="card-text">商品類別：{{commodity.Category.name}}</p>
        <p class="card-text">商品價格：{{commodity.price}}</p>
        <p>
          <span class="mr-2">銷售量：{{commodity.saleAmount}}</span>
          <span class="mr-2">庫存量：{{commodity.remainingNumber}}</span>
          <span class="mr-2">瀏覽人數：{{commodity.viewCount}}</span>
        </p>
        <p class="card-text">商品介紹：{{commodity.introduction}}</p>
      </div>
      <div class="btn-group mb-4" role="group" aria-label="Basic example">
          <a type="button" class="btn btn-primary" onclick="history.go(-1)">返回上一頁</a>
          {{#if likedUser}}
            <form action="/commodity/like/{{commodity.id}}?_method=DELETE" method="post">
              <button type="submit" class="btn btn-secondary"><i class="fas fa-heart-broken mr-1"></i>移除最愛</button>
            </form>          
          {{else}}
            <form action="/commodity/like/{{commodity.id}}" method="post">
              <button type="submit" class="btn btn-danger"><i class="fas fa-heart mr-1"></i>加入最愛</button>
            </form>
          {{/if}}
          {{#if commodity.removed}}
          <button type="button" class="btn btn-secondary"><i class="fas fa-shopping-cart mr-2"></i>商品已經下架，無法購買!!</button>
          {{else}}
          <form action="/cart/{{commodity.id}}" method="post">
            <button type="submit" class="btn btn-success"><i class="fas fa-shopping-cart mr-2"></i>放入購物車</button>
          </form>
          {{/if}}
      </div>
    </div>
  </div>
</div>    
</div>