<div class="col-sm-8 showCommodity">
<div class="card mt-5" style="max-width: 840px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{commodity.image}}" width="250" height="250">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{commodity.name}}</h5>
        <p class="card-text">商品類別：{{commodity.Category.name}}</p>
        <p class="card-text">商品價格：{{commodity.price}}</p>
        <p>
          <span class="mr-2">銷售量：{{commodity.saleAmount}}</span>
          <span class="mr-2">庫存量：{{commodity.remainingNumber}}</span>
          <span class="mr-2">瀏覽人數：{{commodity.viewCount}}</span>
        </p>
        <p class="card-text">商品介紹：{{commodity.introduction}}</p>
      </div>
      <div class="btn-group mb-4" role="group" aria-label="Basic example">
          <a type="button" class="btn btn-primary" href="{{backURL}}">返回上一頁</a>
          {{#if likedUser}}
            <button type="button" class="btn btn-secondary removeLike" data-id="{{commodity.id}}"><i class="fas fa-heart-broken mr-1" data-id="{{commodity.id}}"></i>移除最愛</button>          
          {{else}}
            <button type="button" class="btn btn-danger addLike" data-id="{{commodity.id}}"><i class="fas fa-heart mr-1" data-id="{{commodity.id}}"></i>加入最愛</button>
          {{/if}}
          {{#if commodity.removed}}
            <button type="button" class="btn btn-secondary"><i class="fas fa-shopping-cart mr-2"></i>商品已經下架，無法購買!!</button>
          {{else}}
            {{#if inCart}}
              <button type="button" class="btn btn-success"><i class="fas fa-shopping-cart mr-1"></i>已加入</button>
            {{else}}
              <button type="button" class="btn btn-success addCart" data-id="{{commodity.id}}"><i class="fas fa-shopping-cart mr-2" data-id="{{commodity.id}}"></i>放入購物車</button>
            {{/if}}
          {{/if}}

      </div>
    </div>
  </div>
</div>    
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascript/commodity.js"></script>